1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [4]:
 l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
 print("elements of the list with even index value",l[2:13:2])
 del l[5]
 del l[5]
 del l[5]
print("after deleting the three middle elements",l)

elements of the list with even index value [25, 90, 22, 99, 9, 32]
after deleting the three middle elements [23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [3]:
lowerCase=['a', 'e', 'i', 'o', 'u'] 
print("lowercase list",lowerCase)
uppercase=[]
for a in range(0,len(lowerCase)):
  uppercase.append(lowerCase[a].upper())
print("uppercase list",uppercase)

lowercase list ['a', 'e', 'i', 'o', 'u']
uppercase list ['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [1]:
fruits = ("banana", "cherry", "apple", "grapes")
(yellow,*red,green)=fruits
print(yellow)
print(red)
print(green)

banana
['cherry', 'apple']
grapes